{% extends 'base.html' %}

{% block body %}
<div class="container col-4 mt-3">
    <form method="POST" action="">
        {% csrf_token %}
        <h3>Change Password</h3>
        <label for="email" class="form-label">Email</label>
        <input type="email" name="email" id="email" class="form-control"><br>

        <label for="pw" class="form-label">New Password</label>
        <input type="password" name="pw" id="pw" class="form-control"><br>
        
        <input type="submit" value="Submit" class="btn btn-primary">
    </form>
</div>
{% endblock %}