{% extends 'base.html' %}

{% block body %}
<h2 style="text-align: center; margin-top: 15px;">Reset Your Password</h2>
<div class="container col-4 mt-3">

    <form method="post" class="border p-4 rounded-3">
        {% csrf_token %}
        <input type="text" name="un" id="un" class="form-control mb-3 mt-3" placeholder="Enter Username">

        <input type="email" name="email" id="email" class="form-control mb-3" placeholder="Enter Email">

        <input type="password" name="pw" id="pw" class="form-control mb-3" placeholder="Enter new password">
        <input type="submit" value="Submit" class="btn btn-primary">
    </form>

</div>
{% endblock %}